<%- include('../partials/header.ejs') %>
<h2>"hello"</h2>

<div class="form-box">
  <div class="chi-profile">
    <h3>Show This Job</h3>
  </div>

  <form method="POST" action="/post/jobPost" id="job-post" class="input-group-new">
  <div class="show-page">
    <label class="show-label">Job:</label>
    <div>
      <h2><%= post.title %></h2>
    </div>

    <label class="show-label">Experience:</label>
    <div>
      <h2><%= post.experience %></h2>
    </div>

    <label class="show-label">Budget:</label>
    <div>
      <h2><%= post.budget %></h2>
    </div>

    <label class="show-label">Description:</label>
    <div>
      <h2><%= post.description %></h2>
    </div>
  </div>

    <!-- <button class="submit-btn-profile">Post Job</button>
  </form>
</div>
 -->
 <div id="line-buttons">
    <div class="submit-btn-edit" id="edit"><a href="/post/jobPost/<%= post.id %>/edit">Edit</a>
    </div>
    
  </form>
  <div>
    <form method="POST" action="/post/jobPost/<%= post.id %>?_method=DELETE"><button class="submit-btn-delete">Delete</button>
  </div>
</div>



<%- include('../partials/footer.ejs') %>
