<%- include('../partials/header.ejs') %>
<h2>"hello"</h2>

<div class="form-box">
  <div class="chi-profile">
    <h3> <%= profile.businessName %></h3>
  </div>

  <form method="POST" action="/offer/newOffer" id="job-post" class="input-group-new">

  <input id="postId" name="postId" type="hidden" value="<%= post.id %>">
  <input id="postTitle" name="postTitle" type="hidden" value="<%= post.title %>">

    <strong>
      <label class="show-label">Job:</label>
    </strong>
      <h2 class="show-page"><%= post.title %></h2>
    <strong>
      <label class="show-label">Experience:</label>
    </strong>
      <h2 class="show-page"><%= post.experience %></h2>
    <strong>
      <label class="show-label">Budget:</label>
    </strong>
      <h2 class="show-page"><%= post.budget %></h2>
    <strong>
    <label class="show-label">Description:</label>
    </strong>
      <h2 class="show-page"><%= post.description %></h2>

 <div id="line-buttons">
  <button>Make Offer</button>
  </div>
  </form>
</div>




<%- include('../partials/footer.ejs') %>
