<%- include('../partials/header.ejs') %>
<h2>"hello"</h2>

<div class="form-box">
  <div class="chi-profile">
    <h3> <%= profile.businessName %></h3>
  </div>

  <h3>made it to the right page</h3>

  <form method="POST" action="/post/jobPost" id="job-post" class="input-group-new">

  <div class="show-page">

    <label class="show-label">Job:</label>
    <div>
      <h2><%= post.title %></h2>
    </div>

    <label class="show-label">Experience:</label>
    <div>
      <h2><%= post.experience %></h2>
    </div>

    <label class="show-label">Budget:</label>
    <div>
      <h2><%= post.budget %></h2>
    </div>

    <label class="show-label">Description:</label>
    <div>
      <h2><%= post.description %></h2>
    </div>
  </div>

 <div id="line-buttons">
  <a href="/offer/madeOffer"><button>Make Offer</button></button></a>
  </div>

  </form>
</div>



<%- include('../partials/footer.ejs') %>