<%- include('../partials/header.ejs') %>

  <div>
    <a href="/post/jobPost"><button id="postJobButton">Post a Job</button></a>
  </div>
    <div id="business-header"><h1><%= profile.businessName %></h1></div>
    <div id="dev-message"><p><%= message %></p></div>
    <div class="user-form-box">

      <h2>My Postings</h2>

      <ul class="post-list">
        <% post.forEach((post) => { %>
          <li>
            <a href="/post/jobPost/<%= post.id %>"><%= post.title %></a>
            <h2><%= post.offers.id %></h2>
          </li>

        <% }) %>
      </ul>

    </div>
      <div class="user-form-box">
      <form method="get" action="/user/new" id="profile" class="user-chi-profile">
        <div class="profile-home">
          <h3 id="profile-header">User's Profile</h3>
          <label>Contact Name:</label>
          <p><%= profile.contactName %></p>
          <label>Business Name:</label>
          <p><%= profile.businessName %></p>
          <label>Location:</label>
          <p><%= profile.location %></p>
          <label>Industry:</label>
          <p><%= profile.industry %></p>
          <label>Languages</label>
          <p><%= profile.languages %></p>
        </div>
        </form>
      </div>

    <div class="second-form-box">
      <h2>How it works</h2>
      <ol id="orderedList">
        <li>Post a job</li>
        <li>Evaluate web developers and hire</li>
        <li>Work together</li>
        <li>Job complete time for pay</li>
      </ol>
    </div>
<div>





<%- include('../partials/footer.ejs') %>
