<%- include('../partials/header.ejs') %>

<!--   <div class="form-box">
    <div class="job-post">
      <h3>All Jobs</h3>
    </div>
 -->

  <ul>
    <% post.forEach((post) => { %>
    <div class="all-form-box">
        <li>
          <a id="all-jobs-link" href="/post/jobPost/<%= post.id %>">
          <h2><%= post.title %></a></h2>
        <div class="jobs-list">
          <ul>
          <strong>
            <li>User:
          </strong>
              <%= post.user.email %>
            </li>
          <strong>
            <li>Experience:
          </strong>
              <%= post.experience %>
            </li>
          <strong>
            <li>Budget:
          </strong>
              <%= post.budget %>
            </li>
          <strong>
            <li>Description:
          </strong>
              <%= post.description %>
            </li>
        </div>
        </li>
    </div>
          <!-- style the button -->
          <!-- possibly need to style the form box (alignment etc) -->

        <% }) %>
      </ul>

<%- include('../partials/footer.ejs') %>

<!-- NEED TO CHANGE ALL 'post' TO 'posts'  -->
